@import "../../../styles/variables";

.products-container {
  position: relative;

  .actions {
    margin-top: 1rem;
  }
  .favorites {
    position: absolute;
    top: 1rem;
    right: 1rem;

    button {
      margin-bottom: 1rem;
      background-color: transparent;
      color: $primary-color;
      border: none;
      display: flex;
      align-items: center;

      .favorite-icon {
        margin-right: 5px;
      }
    }

    .favorites-dropdown {
      position: absolute;
      top: 2rem;
      right: 0;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      z-index: 3;

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 200px;
        
        li {
          padding: 0.5rem 1rem;
          &:hover {
            background: #f0f0f0;
          }
        }
      }
    }
  }
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;

  .product-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-decoration: none;
    color: inherit;
    transition:
      transform 0.3s,
      box-shadow 0.3s;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    button {
      position: absolute;
      top: 1rem;
      right: 1rem;
      z-index: 2;
    }

    .product-item-name {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    .product-item-price {
      font-size: 1rem;
      font-weight: bold;
      color: $primary-color;
      margin-bottom: 0.5rem;
    }

    .product-item-desc {
      font-size: 1rem;
      color: #555;
    }
  }
}

.product-new-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-content {
    position: relative;

    .close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      padding: 0.2rem;
      background: $secondary-color;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      width: 35px;
      height: 35px;
    }

    h2 {
      margin-bottom: 1.5rem;
      text-align: center;
    }

    .form-actions {
      .outlined {
        margin-right: .5rem;
      }
    }
  }
}
