<div class="container products-container">
  <div>
    <h1>Products</h1>
  </div>
  <div class="favorites">
    <button (click)="toggleFavoritesDropdown()">
      <img src="../../../assets/heart.svg" class="favorite-icon" alt="" width="20" height="20" /> ({{
        favorites.length
      }})
    </button>
    <div class="favorites-dropdown" *ngIf="isFavoritesDropdownOpen">
      <ul>
        <li *ngFor="let favorite of favorites">{{ favorite.name }}</li>
      </ul>
    </div>
  </div>
  <div class="product-list">
    <button
      class="product-item"
      *ngFor="let product of products"
      (click)="navigateToProduct(product.id)"
    >
      <span class="product-item-name">{{ product.name }}</span>
      <span class="product-item-price">${{ product.price }}</span>
      <span class="product-item-desc">{{ product.description }}</span>
      <button (click)="addToFavorites(product, $event)">
        Add to Favorites
      </button>
    </button>
  </div>
  <div class="actions">
    <button class="outlined" (click)="openNewProductModal()">
      Add new product
    </button>
  </div>
</div>

<!-- add new products modal -->
<div class="product-new-modal" *ngIf="isModalOpen">
  <div class="modal-content form-container">
    <button class="close" (click)="closeModal()">&times;</button>
    <h2>Add New Product</h2>
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Product name:</label>
        <input id="name" formControlName="name" />
        <div
          *ngIf="
            productForm.get('name')?.invalid &&
            (productForm.get('name')?.touched || productForm.get('name')?.dirty)
          "
        >
          <small
            *ngIf="productForm.get('name')?.errors?.['required']"
            class="form-error"
            >Product name is required.</small
          >
          <small
            *ngIf="productForm.get('name')?.errors?.['maxlength']"
            class="form-error"
            >Product name can't be longer than 32 characters.</small
          >
        </div>
      </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <input id="price" type="number" formControlName="price" />
        <div
          *ngIf="
            productForm.get('price')?.invalid &&
            (productForm.get('price')?.touched ||
              productForm.get('price')?.dirty)
          "
        >
          <small
            *ngIf="productForm.get('price')?.errors?.['required']"
            class="form-error"
            >Price is required.</small
          >
          <small
            *ngIf="productForm.get('price')?.errors?.['min']"
            class="form-error"
            >Price has to be bigger than zero.</small
          >
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" formControlName="description"></textarea>
        <div
          *ngIf="
            productForm.get('description')?.invalid &&
            (productForm.get('description')?.touched ||
              productForm.get('description')?.dirty)
          "
        >
          <small
            *ngIf="productForm.get('description')?.errors?.['maxlength']"
            class="form-error"
            >Description can't be longer than 160 characters.</small
          >
          <small
            *ngIf="productForm.get('description')?.errors?.['required']"
            class="form-error"
            >Description is required.</small
          >
        </div>
      </div>
      <div class="form-actions">
        <button class="outlined" (click)="resetForm()">Cancel</button>
        <button class="primary" type="submit" [disabled]="productForm.invalid">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
