$body-background-color: #fffefb;
$body-border-color: #f5f4f1;
$primary-color: #00668c;
$primary-lighter-color: #b6ccd8;
$secondary-color: #ff3d3d;
$secondary-lighter-color: #fd5732;
$body-border-radius: 0.5rem;
$body-padding: 1.5rem;
$body-margin: 1.5rem;
$body-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
