<div class="container home-container">
  <h1>Welcome, Admin</h1>
  <div class="links-container">
    <div class="link-box">
      <img
        src="../../../assets/undrawProducts.svg"
        alt="Products"
        class="link-image"
      />
      <div class="link-content">
        <a routerLink="products" >Go to Products</a>
        <p>View and manage product list</p>
      </div>
    </div>
    <div class="link-box">
      <img
        src="../../../assets/undrawAdmin.svg"
        alt="Admins"
        class="link-image"
      />
      <div class="link-content">
        <a routerLink="admins">Go to Admins</a>
        <p>View and manage admin users</p>
      </div>
    </div>
  </div>
</div>
